name: flutter_numkit
description: "A collection of handy numeric extensions for Flutter (Angles, Bool, Duration, EdgeInsets, Gap, Radius, Percentages, Radius, ScreenSizes, Tween.)"
version: 0.0.1
homepage: https://github.com/Rado-Dayef/flutter_numkit
repository: https://github.com/Rado-Dayef/flutter_numkit

environment:
  sdk: ">=2.19.0 <4.0.0"
  flutter: ">=3.7.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
# No assets or fonts required
